DATABASE_URL=postgresql+asyncpg://postgres:sahan123@localhost:5432/Flow_Pilot_AI
JWT_SECRET_KEY=UniconeFlame2024
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=6000

GITHUB_CLIENT_ID=Ov23liLj3VKaDu2TJP1q
GITHUB_SECRET=ec047f1476f6b7779d21f19e6d01107854c6484e

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_MAX_CONNECTIONS=10

#github config
GITHUB_TOKEN= <your_github_token_here>
GITHUB_ORG=Flow-Pilot-AI

# Kafka Configuration
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC_AGENT_JOBS=agent-jobs

#security
SECRET_KEY=abkdeldlkcelfdsweffsdcsd
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# Application
APP_NAME=Flow Pilot AI
DEBUG=True
FRONTEND_URL=http://localhost:3000
