DATABASE_URL=<db_url>
JWT_SECRET_KEY=<secret_key>
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=6000

GITHUB_CLIENT_ID=<client_id>
GITHUB_SECRET=<client_secret>

# Redis Configuration
REDIS_HOST=<host>
REDIS_PORT=6379
REDIS_DB=0
REDIS_MAX_CONNECTIONS=10