apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ingress-{{ namespace }}
  namespace: {{ namespace }}
  annotations:
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip
    alb.ingress.kubernetes.io/group.name: shared-alb
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}, {"HTTPS": 443}]'
    alb.ingress.kubernetes.io/ssl-redirect: '443'
    alb.ingress.kubernetes.io/certificate-arn: {{ acm_certificate_arn }}
spec:
  ingressClassName: alb
  rules:
    - host: {{ host }}
      http:
        paths:
        {% for comp in components %}
          - path: {{ comp.path_prefix }}
            pathType: Prefix
            backend:
              service:
                name: {{ comp.service_name }}
                port:
                  number: {{ comp.port }}
        {% endfor %}
