OPENAI_API_KEY=<your-openai-key>
GITHUB_TOKEN=<your-github-token>
GITHUB_ORG=Flow-Pilot-AI

# Kafka Configuration
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC_AGENT_JOBS=agent-jobs

#langsmith
LANGCHAIN_TRACING_V2=true

LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"

LANGCHAIN_API_KEY=<your-api-key>

LANGCHAIN_PROJECT=<your-project>

#Your aws secrets
BUCKET_REGION=
AWS_ACCESS_KEY=
AWS_SECRET_KEY=

# AWS Account
AWS_ACCOUNT_ID=<your-aws-account-id>

# ACM Certificate ARN
ACM_CERTIFICATE_ARN=<your-acm-certificate-arn>